* {
    padding: 0;
    margin: 0;
}

.FirstDivision {
    color: yellow;
    background-color: aqua;
    margin: 50px;
    padding: 10px;
    border: 5px solid black;

}

.SecondDivision {
    color: bisque;
    background-color: red;
    margin: 10px;
    padding: 5px;
    border: 10px solid blue;
}

#Paragraph {
    color: rgb(245, 135, 1);
    background-color: yellowgreen;
    margin: 30px;
    padding: 15px;
    border: 8px solid blue;


}