<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">This Is A Partial Which Is Imported On An EJS File.</h5>
        <p class="card-text">This Webpage Is Rendered Through An Webpage On Which This Webpage Will Be Included.</p>
        <a href="#" class="btn btn-primary">You Don't Have To Click Me As It Is Just A Demo</a>
    </div>
</div>