* {
    margin: 0;
    padding: 0;
}


.container {
    background-color: rgb(227, 227, 28);
    padding: 14px;
    margin: 14px;
    cursor: pointer;
}

.container_2 {
    background-color: rgb(227, 227, 28);
    padding: 14px;
    margin: 14px;
    cursor: pointer;
}

.container_3 {
    background-color: rgb(227, 227, 28);
    padding: 14px;
    margin: 14px;
    cursor: pointer;
}