/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

:root {
    --a: 0;
}

::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: 282828;
    /* Track color */
}

::-webkit-scrollbar-thumb {
    background-color: #282828;
    /* Thumb color */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Thumb color on hover */
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;

}

.Container {
    display: flex;
    min-height: 98vh;
    min-width: 96vw;
}

.Above-Left-Side {
    width: 20vw;
    height: 10vh;
    padding: 14px;
    flex-direction: column;
}

.Below-left-side {
    padding: 8px 10px;
    height: 81.3vh;

}

.Right-Side {
    min-height: 97vh;
    width: 78vw;
}

.Home {
    color: white;
    gap: 10px;
}

.Search {
    color: white;
    gap: 10px;
}

.Home img {

    filter: invert(1);
    height: 25px;
    width: 25px;
}

.Search img {
    filter: invert(1);
    height: 25px;
    width: 25px;
}

.Your-Library img {
    filter: invert(1);
    height: 25px;
    width: 25px;
}

.Your-Library {
    color: white;
    justify-content: space-between;
}

.Svg-With-Text {
    gap: 10px;
}

.Another-Svgs {
    gap: 10px;
}

.Another-Svgs img {
    height: 25px;
    width: 25px;
}

.Playlist {
    padding-top: 2vh;
    height: 75vh;
    overflow: auto;
    flex-direction: column;
    gap: 10px;
}

.Playlist .box {
    min-height: 72vh;
    width: 18vw;
}

.Header {
    padding: 1.5vw;
    color: white;
    justify-content: space-between;
}

.icons {
    height: 2.5vh;
    width: 5vw;
    gap: 15px;
}

.icons img {
    filter: invert(1);
}

.main {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
    grid-template-rows: 35vh;
    overflow-y: scroll;
    height: 74vh;
    margin: 1vh;
}

.Footer {
    margin-top: 2vh;
    height: 10vh;
}

.card {
    position: relative;
    flex-direction: column;
    color: white;
    height: 28vh;
    width: 11vw;
    gap: 10px;
    padding: 10px;
    background-color: #282828;
}

.card img {
    border-radius: 0.2vw;
    height: 18vh;
    width: 10vw;
    object-fit: cover;

}

.card .title {
    padding-top: 5px;
    padding-left: 10px;
}

.card .title h3 {
    width: 10vw;
    height: 2vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.details {
    width: 11vw;
}

.artists {
    color: #b3b3b3fd;
    padding-top: 10px;
    padding-left: 10px;
    max-height: 5vh;

}

.card:hover {
    cursor: pointer;
    --a: 1;
}

.playbutton {
    position: absolute;
    bottom: 12vh;
    right: 1vw;
    height: 5.5vh;
    width: 3vw;
    background-color: greenyellow;
    border-radius: 350vw;
    transition: all 1s ease-out;
    opacity: var(--a);
}

.playbutton img {
    height: 30px;
    width: 30px;
}

.box {
    flex-direction: column;
    color: white;
    gap: 10px;
}

.box h3 {
    width: 75%;
}

.innerimage {
    object-fit: cover;
    height: 40vh;
    width: 15vw;
}

.againartist {
    flex-direction: column;
    max-width: 75%;
    min-width: 75%;
    gap: 10px;


}




.tracks {
    color: white;
    max-width: 100%;
    position: relative;

}

.secondplaybutton {
    position: absolute;
    bottom: 0vh;
    right: 1vw;
    height: 4.5vh;
    width: 2vw;
    background-color: greenyellow;
    border-radius: 350vw;
    transition: all 1s ease-out;
    opacity: var(--a);

}

.secondplaybutton img {
    height: 25px;
    width: 25px;
}

.tracks:hover {

    --a: 1;
}

.playimg:hover {
    cursor: pointer;
}

.para p {
    display: inline;
    color: #b3b3b3fd;
    cursor: pointer;
}